FILE", 	", : main.ipynb
PROJECT", ", ", : maid-analysis
PROGRAMMER		: Jack Parkinson
FIRST VERSION	: 2024-4-20
DESCRIPTION		:
	This file will handle data reading, manipulation, and general program flow.

In [2]:
# Imports
import pdfplumber
import pandas as pd

In [3]:
# Read in data from PDFs for 2019 and 2022. 2022 data generally includes previous years.

# 2019: Get tables on pages 18, 19, 22, 23, 24, 28, 33, 36
# 2022: Get tables on pages 20, 21, 22, 24, 30, 36, 47, 51
extract_2019 = [18, 19, 22, 23, 24, 28, 33, 36]
extract_2022 = [--, 21, 22, 24, 30, 36, 47, 51]
tables_2019 = []
tables_2022 = []

#im = ""
#im = pdf.pages[32].to_image()

# The index is one behind the page number (both on the page and in the PDF viewer). Ex: to get page 20, use index 19.
temp_page = ""
with pdfplumber.open("..\data\MAID_2019.pdf") as pdf:
    for extract_page in extract_2019:
        print("Extracting page " + str(extract_page) + " from 2019 and storing...")
        temp_page = pdf.pages[extract_page - 1].extract_table()
        df = pd.DataFrame(temp_page[1:], columns=temp_page[0])
        tables_2019.append(df)
        print("Done.")

with pdfplumber.open("..\data\MAID_2022.pdf") as pdf:
    for extract_page in extract_2022:
        print("Extracting page " + str(extract_page) + " from 2022 and storing...")
        temp_page = pdf.pages[extract_page - 1].extract_table()
        df = pd.DataFrame(temp_page[1:], columns=temp_page[0])
        tables_2022.append(df)
        print("Done.")

Extracting page 18 from 2019 and storing...
Done.
Extracting page 19 from 2019 and storing...
Done.
Extracting page 22 from 2019 and storing...
Done.
Extracting page 23 from 2019 and storing...
Done.
Extracting page 24 from 2019 and storing...
Done.
Extracting page 28 from 2019 and storing...
Done.
Extracting page 33 from 2019 and storing...
Done.
Extracting page 36 from 2019 and storing...
Done.
Extracting page 20 from 2022 and storing...
Done.
Extracting page 21 from 2022 and storing...
Done.
Extracting page 22 from 2022 and storing...
Done.
Extracting page 24 from 2022 and storing...
Done.
Extracting page 30 from 2022 and storing...
Done.
Extracting page 36 from 2022 and storing...
Done.
Extracting page 47 from 2022 and storing...
Done.
Extracting page 51 from 2022 and storing...
Done.

In [9]:
# Rename columns

# Make two lists, where each index is a list of column names.
# For each dataframe in the lists of 2019 and 2022, rename the columns to the appropriate names.

# 2019
new_columns_2019 = [
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
]



# 2022
new_columns_2022 = [
    ["first"],
    ["Year", "Newfoundland and Labrador", "Prince Edward Island", "Nova Scotia", "New Brunswick", "Quebec", "Ontario", "Manitoba", "Saskatchewan", "Alberta", "British Columbia", "Yukon", "Northwest Territories", "Nunavut", "Canada"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
    ["test"],
]
count = 0
for new_col in new_columns_2022:
    tables_2022[count].set_axis(new_columns, axis=1)
    count += 1













#new_columns_2019 = {
 #   1,["MAID", "NL", PE	NS	NB	QC	ON	MB	SK	AB	BC	YT	NT	NU	Canada"]
#}

#new_columns_2022 = {}

#tables_2022[1]
#new_columns = "Description of Voluntary Request", "Prevalence"
#df.columns = new_columns
#df

IndentationError: expected an indented block after 'for' statement on line 15 (2751470295.py, line 23)

In [14]:
tables_2022[4]
#.set_axis(new_columns, axis=1)

,None,None,None,None,None,None,None,None,,None,None,None,None,None,None,None,None,None
0,None,None,None,None,None,None,None,None,None,None,,None,None,None,None,None,None,None
1,14.4%,None,None,None,None,None,None,None,,,,None,None,None,None,None,None,None
2,None,None,None,None,None,None,,None,None,,,None,None,None,None,None,None,
3,None,None,None,None,None,None,None,None,None,None,None,,,None,None,None,None,None
4,,None,None,None,None,None,,,,,,,,,11.8%,None,None,
5,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,,None,None
6,None,None,None,None,None,None,None,None,None,,None,None,None,None,None,None,None,None
7,None,None,None,None,None,None,None,,None,None,None,None,None,None,None,None,None,None
8,10.5%,None,None,None,None,None,,,,,,,,,,,,
9,None,None,None,None,None,,None,None,None,None,None,None,None,None,None,None,None,None
10,None,None,None,None,,None,None,None,None,None,None,None,None,None,None,None,None,None
11,,None,None,None,,,,,17.8%,,16.8%,,,,,,,
12,,None,None,None,,,15.6%,13.1%,,13.4%,,14.6%,14.6%,14.3%,,13.8%,,15.7%
13,3.2%,None,None,None,10.4%,10.6%,,,,,,,,,12.1%,,8.2%,
14,1.3%,None,None,None,,,,,,,,,,,,,,
15,None,None,,,None,None,None,None,None,None,None,None,None,None,None,None,None,None
16,,None,3.1%,3.2%,,,,,,,,,,,,,,
17,1.4%,1.3%,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None